{{> start . }}

{{#routes}}
<single-route>
  <h1>
    {{#if ../index }}<a href="{{ url }}">{{/if}}{{ name }}{{#if ../index }}</a>{{/if}}
  </h1>

  {{#each trains}}
  <single-train class="margin-bottom-2 padding-bottom-2 border-bottom border-primary-light">
    <h3>
      <a href="{{ url }}">Train #{{ number }}</a>
      <span class="usa-tag margin-x-0 {{ tag.bg }} {{ tag.color }}">{{ tag.text }}</span>
      <small>from {{ from }} to {{ to }}</small>
    </h3>

    <train-track class="horizontal {{ trackColor }} margin-bottom-1">
    {{#each stations }}
      <train-station class="flex-auto">
        <station-dot class="{{ dotColor }}"></station-dot>
      </train-station>
      {{# unless @last }}
      <station-spacer class="flex-fill {{ spacerColors.after }}"></station-spacer>
      {{/ unless }}
    {{/ each }}
    </train-track>
    {{ info }}
  </single-train>
  {{/each}}

</single-route>
{{/routes}}

{{> end }}